{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TT365</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'tt365/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'tt365/css/slider.css' %}">
</head>
<body>
    <div class="nav-container">
        <div class="logo">
            <a href="#"><img src="{% static 'tt365/images/logo.jpeg' %}" alt=""></a>
        </div>
        <ul class="nav">
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Search products, brands and categories">
                <button type="submit" class="search-button">SEARCH</button>
            </div>
            <li class="nav-link"><a href="/login"><i class='bx bx-user'> Account</i></a></li>
            
            <li class="nav-link"><a href="/cart"><i class='bx bx-shopping-bag'> Cart</i></a></li>
        </ul>
    </div>

   <div class="box-1">
        <h3>Welcome to TT365</h3>
    </div>
    <div class="box-2">
        <h3>Shine with TT365 Fashions</h3>
    </div>


    <!-- Slideshow Container Div -->
    <div class="container">
        <div class="image-sliderfade fade">
            <img src="{% static 'tt365/images/slider/adidas.jpeg' %}">
        </div>

        <div class="image-sliderfade fade">
            <img src="{% static 'tt365/images/slider/hat-black.jpeg' %}">
        </div>

        <div class="image-sliderfade fade">
            <img src="{% static 'tt365/images/slider/unisex.jpeg' %}">
        </div>

        <div class="image-sliderfade fade">
            <img src="{% static 'tt365/images/slider/hat-black.jpeg' %}"/>
        </div>

        <div class="image-sliderfade fade">
            <img src="{% static 'tt365/images/slider/cuffed.jpeg' %}"/>
        </div>
    </div>
    <br/>

    <div style="text-align: center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>


    <section class="service" id="service">

        <!-- Men's fashion section  -->
        <div class="row" style="margin-top: 0;">
            <div class="col-md-12">
                <div class="text-left bg-dark text-white px-2 py-1 mb-3" style="display: flex; justify-content: space-between;">
                    <h3 style="margin: 10px; font-size: 1.7rem; text-decoration: underline;">MEN'S FASHION</h3>
                    <a href="/men-fashion" class="btn btn-primary" style="font-size: 1.7rem;">See All</a>
                </div>
            </div>
        </div>

        <div class="card-row">
            {% for product in products %}
            <div class="card">
                <div class="image-container">
                    <img src="{% static 'tt365/images/20.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/13A.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/14.jpeg' %}" alt="Card Image 4">
                    <div class="card-info">
                        <!-- <h3>{{ product.product_name }}</h3> -->
                        <p>${{ product.price }}</p>
                        <button class="add-to-cart">Add to Cart</button>
                    </div>
                </div>
                <button class="scroll-right-button" onclick="scrollRight(this.parentElement)">→</button>
                <div class="card-info">
                    <!-- <h3>{{ product.product_name }}</h3> -->
                    <p>${{ product.price }}</p>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
    
            <div class="card">
                <div class="image-container">
                    <img src="{% static 'tt365/images/16A.jpg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/18A.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/boxers1.jpeg' %}" alt="Card Image 4">
                </div>
                <button class="scroll-right-button" onclick="scrollRight(this.parentElement)">→</button>
                <div class="card-info">
                    <!-- <h3>{{ product.product_name }}</h3> -->
                    <p>${{ product.price }}</p>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
    
            <div class="card">
                <div class="image-container">
                    <img src="{% static 'tt365/images/happy.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/20.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/pullneck.jpeg' %}" alt="Card Image 4">
                </div>
                <button class="scroll-right-button" onclick="scrollRight(this.parentElement)">→</button>
                <div class="card-info">
                    <!-- <h3>{{ product.product_name }}</h3> -->
                    <p>${{ product.price }}</p>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
    
            <div class="card">
                <div class="image-container">
                    <img src="{% static 'tt365/images/16A.jpg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/20.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/18A.jpeg' %}" alt="Card Image 4">
                </div>
                <button class="scroll-right-button" onclick="scrollRight(this.parentElement)">→</button>
                <div class="card-info">
                    <h3>{{ product.product_name }}</h3>
                    <p>${{ product.price }}</p>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- women's fashion section -->
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-12">
                <div class="text-left bg-dark text-white px-2 py-1 mb-3" style="display: flex; justify-content: space-between;">
                    <h3 style="margin: 10px; font-size: 1.7rem; text-decoration: underline;">LADIES FASHION</h3>
                    <a href="#" class="btn btn-primary" style="font-size: 1.7rem;">See All</a>
                </div>
            </div>
        </div>


        <div class="card-row">
            <div class="card">
                <div class="image-container">
                    <img src="{% static 'tt365/images/happy.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/14.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/13A.jpeg' %}" alt="Card Image 4">
                </div>
                <!-- <button class="scroll-left-button" onclick="scrollLeft(this.parentElement)">←</button> -->
                <button class="scroll-right-button" onclick="scrollRight(this.parentElement)">→</button>
                <div class="card-info">
                    <h3>Hoodie</h3>
                    <p>$45.5</p>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
    
            <div class="card">
                <div class="image-container">
                    <img src="{% static 'tt365/images/14.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/boxers1.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/pullneck.jpeg' %}" alt="Card Image 4">
                </div>
                <!-- <button class="scroll-left-button" onclick="scrollLeft(this.parentElement)">←</button> -->
                <button class="scroll-right-button" onclick="scrollRight(this.parentElement)">→</button>
                <div class="card-info">
                    <h3>Hoodie</h3>
                    <p>$45.5</p>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
    
            <div class="card">
                <div class="image-container">
                    <img src="{% static 'tt365/images/Soft.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/tshirt.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/pullneck.jpeg' %}" alt="Card Image 4">
                </div>
                <!-- <button class="scroll-left-button" onclick="scrollLeft(this.parentElement)">←</button> -->
                <button class="scroll-right-button" onclick="scrollRight(this.parentElement)">→</button>
                <div class="card-info">
                    <h3>Hoodie</h3>
                    <p>$45.5</p>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
    
            <div class="card">
                <h3>Card 4</h3>
                <div class="image-container">
                    <img src="{% static 'tt365/images/13A.jpeg' %}" alt="" class="card-image-top">
                    <img src="{% static 'tt365/images/boxers1.jpeg' %}" alt="Card Image 3">
                    <img src="{% static 'tt365/images/20.jpeg' %}" alt="Card Image 4">
                </div>
                <!-- <button class="scroll-left-button" onclick="scrollLeft(this.parentElement)">←</button> -->
                <button class="scroll-right-button" onclick="scrollRight(this.parentElement)">→</button>
                <div class="card-info">
                    <h3>Hoodie</h3>
                    <p>$45.5</p>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
        </div>

        <!-- Kid's fashion section -->
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-12">
                <div class="text-left bg-dark text-white px-2 py-1 mb-3" style="display: flex; justify-content: space-between;">
                    <h3 style="margin: 10px; font-size: 1.7rem; text-decoration: underline;">KID'S FASHION</h3>
                    <a href="#" class="btn btn-primary" style="font-size: 1.7rem;">See All</a>
                </div>
            </div>
        </div>


        <div class="card-row">
            <div class="card">
                <div class="image-container">
                    <img src="{% static 'tt365/images/Soft.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/14.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/tshirt.jpeg' %}" alt="Card Image 4">
                </div>
                <!-- <button class="scroll-left-button" onclick="scrollLeft(this.parentElement)">←</button> -->
                <button class="scroll-right-button" onclick="scrollRight(this.parentElement)">→</button>
                <div class="card-info">
                    <h3>Hoodie</h3>
                    <p>$45.5</p>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
    
            <div class="card">
                <div class="image-container">
                    <img src="{% static 'tt365/images/14.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/16A.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/Soft.jpeg' %}" alt="Card Image 4">
                </div>
                <!-- <button class="scroll-left-button" onclick="scrollLeft(this.parentElement)">←</button> -->
                <button class="scroll-right-button" onclick="scrollRight(this.parentElement)">→</button>
                <div class="card-info">
                    <h3>Hoodie</h3>
                    <p>$45.5</p>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
    
            <div class="card">
                <div class="image-container">
                    <img src="{% static 'tt365/images/tshirt.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/happy.jpeg' %}" alt="Card Image 4">
                    <img src="{% static 'tt365/images/14.jpeg' %}" alt="Card Image 4">
                </div>
                <!-- <button class="scroll-left-button" onclick="scrollLeft(this.parentElement)">←</button> -->
                <button class="scroll-right-button" onclick="scrollRight(this.parentElement)">→</button>
                <div class="card-info">
                    <h3>Hoodie</h3>
                    <p>$45.5</p>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
    
            <div class="card">
                <h3>Card 4</h3>
                <div class="image-container">
                    <img src="{% static 'tt365/images/13A.jpeg' %}" alt="" class="card-image-top">
                    <img src="{% static 'tt365/images/boxers1.jpeg' %}" alt="Card Image 3">
                    <img src="{% static 'tt365/images/20.jpeg' %}" alt="Card Image 4">
                </div>
                <!-- <button class="scroll-left-button" onclick="scrollLeft(this.parentElement)">←</button> -->
                <button class="scroll-right-button" onclick="scrollRight(this.parentElement)">→</button>
                <div class="card-info">
                    <h3>Hoodie</h3>
                    <p>$45.5</p>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
        </div>


    </section>

    <hr style="border: 2px solid black;">
    
    <footer id="footer">
        <h1 class="text-center">TT365</h1>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, fugiat!</p>
        <div class="icons text-center">
            <i class='bx bxl-whatsapp'></i> 
            <i class='bx bxl-instagram'></i>
            <i class='bx bxl-facebook'></i>
        </div>
        <div class="copyright text-center">
            &copy;Copyright <strong><span>TT365</span></strong>. All Rights Reserved
        </div>
        <div class="credite text-center">
            Designed By <a href="#">Celline</a>
        </div>
    </footer>

<script src="{% static 'tt365/js/slider.js' %}"></script>
<script src="{% static 'tt365/js/card.js' %}"></script>

</body>
</html>
