{% extends 'tt365/base.html' %}

{% block title %}men-fashion{% endblock %}

{% block content %}

    <section class="service" id="service">

        <!-- Men's fashion section  -->
        <div class="row" style="margin-top: 0;">
            <div class="col-md-12">
                <div class="text-left bg-dark text-white px-2 py-1 mb-3" style="display: flex; justify-content: space-between;">
                    <h3 style="margin: 10px; font-size: 1.7rem; text-decoration: underline;">MEN'S FASHION</h3>
                    <a href="#" class="btn btn-primary" style="font-size: 1.7rem;">See All</a>
                </div>
            </div>
        </div>

        <div class="card-container">
            <div class="card text-center">
                <img src="{% static 'tt365/images/13A.jpeg' %}" alt="" class="card-image-top">
                <h3>T-shirt</h3>
                <p>$34.76</p>
            </div>
        
            <div class="card">
                <img src="{% static 'tt365/images/pullneck.jpeg' %}" alt="" class="card-image-top">
                <h3>Pullneck</h3>
                <p>$50.02</p>
            </div>
        
            <div class="card">
                <img src="{% static 'tt365/images/14.jpeg' %}" alt="Card Image 3">
                <h3>Card 3</h3>
                <p>$56</p>
            </div>
        
            <div class="card">
                <img src="{% static 'tt365/images/happy.jpeg' %}" alt="Card Image 4">
                <h3>Card 4</h3>
                <p>$78.8</p>
            </div>
        </div>


        <div class="card-container">
            <div class="card text-center">
                <img src="{% static 'tt365/images/13A.jpeg' %}" alt="" class="card-image-top">
                <h3>Card 1</h3>
                <p>$56</p>
            </div>
        
            <div class="card">
                <img src="{% static 'tt365/images/14.jpeg' %}" alt="" class="card-image-top">
                <h3>Card 2</h3>
                <p>$75.5</p>
            </div>
        
            <div class="card">
                <img src="{% static 'tt365/images/14.jpeg' %}" alt="Card Image 3">
                <h3>Card 3</h3>
                <p>$90.3</p>
            </div>
        
            <div class="card">
                <img src="{% static 'tt365/images/14.jpeg' %}" alt="Card Image 4">
                <h3>Card 4</h3>
                <p>$34.2</p>
            </div>
        </div>

 
        <div class="card-container"> 
            <div class="card text-center">
                <img src="{% static 'tt365/images/13A.jpeg' %}" alt="" class="card-image-top">
                <h3>Card 1</h3>
                <p>$23.7</p>
            </div>
        
            <div class="card">
                <img src="{% static 'tt365/images/18A.jpeg' %}" alt="" class="card-image-top">
                <h3>Card 2</h3>
                <p>$60.3</p>
            </div>
        
            <div class="card">
                <img src="{% static 'tt365/images/boxers1.jpeg' %}" alt="Card Image 3">
                <h3>Card 3</h3>
                <p>$34.4</p>
            </div>
        
            <div class="card">
                <img src="{% static 'tt365/images/20.jpeg' %}" alt="Card Image 4">
                <h3>Card 4</h3>
                <p>$80.9</p>
            </div>
        </div>

    </section>
    
{% endblock %}